<div class="card mx-auto mb-4">
    <h5 class="card-header">{{ product.title }}</h5>
    <div class="card-body">
        <p class="card-text">{{ product.description|length > 100? product.description|slice(0, 100) ~ '...':product.description }}</p>
        <a href="{{ url('product_show',{'id':product.id}) }}" class="btn btn-primary">{{ "View Product"|trans }}</a>
    </div>
</div>
